 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Bibliographies home page</title>
	<script th:inline="javascript">
		/*<![CDATA[*/
			function myFunction() {
			  var input, filter, table, tr, td, i, matchCount;
			  input = document.getElementById("myInput");
			  filter = input.value.toUpperCase();
			  table = document.getElementById("myTable");
			  tr = table.getElementsByTagName("tr");
			  numColumns = table.getElementsByTagName("tr")[0].getElementsByTagName("th").length - 1;
			
				for (i = 1; i < tr.length; i++) {
					matchCount = 0;
					for (j=0; j < numColumns; j++) {
						td = tr[i].getElementsByTagName("td")[j];
						if (td) {
							if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
								matchCount = 1;
							}
						}
					}
					if(matchCount == 1) {
						tr[i].style.display = "";
					}
					else {
						tr[i].style.display = "none";
					}
				}
			}
		/*]]>*/
	</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<h1>Bibliography Manager</h1>
	<h3>Add a record</h3>
	<form action="/addEntry">
	  Author <input type="text" name="author"/><br/>
	  Title <input type="text" name="title"/><br/>
	  Year <input type="text" name="year"/><br/>
	  Journal <input type="text" name="journal"/><br/>
	  <input type="submit" value="Add"/>
	</form>
	<h3>Upload BibTeX entries</h3>
	<form action="/uploadFile" method="post" enctype="multipart/form-data">
		<input type="file" name="file" /><br/>
		<input type="submit" value="Submit" />
	</form>
	<h3>Entries</h3>
	<div>
		<a th:href="@{/downloadEntries}"><span>Export all BibTeX entries</span></a>
	</div>
	<br/>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."/>
	<table id="myTable">
		<tr>
			<th>id</th>
			<th>author</th>
			<th>title</th>
			<th>year</th>
			<th>journal</th>
			<th>action</th>
		</tr>
		<tr th:each="bibliography : ${entries}">
			<td th:text="${bibliography.id}">id</td>
			<td th:text="${bibliography.author}">author</td>
			<td th:text="${bibliography.title}">title</td>
			<td th:text="${bibliography.year}">year</td>
			<td th:text="${bibliography.journal}">journal</td>
			<td>
				<a th:href="@{/editEntry/{id}(id=${bibliography.id})}"><span>Edit</span></a>
			</td>
			<td>
				<a th:href="@{/deleteEntry/{id}(id=${bibliography.id})}"><span>Delet‌​e</span></a>
			</td>
		</tr>
	</table>
</body>
</html>