 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Bibliographies home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<h1>Edit an entry</h1>
	<form action="/saveEntry/{id}">
	  Id <input type="text" name="id" readonly="readonly" th:value="${entry.id}"/><br/>
	  Author <input type="text" name="author" th:value="${entry.author}"/><br/>
	  Title <input type="text" name="title" th:value="${entry.title}"/><br/>
	  Year <input type="text" name="year" th:value="${entry.year}"/><br/>
	  Journal <input type="text" name="journal" th:value="${entry.journal}"/><br/>
	  <input type="submit" value="Save"/>
	</form>
</body>
</html>